

/***** CSS RESET *****/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******************/

/* Universals (Or otherwise known as any CSS rules that I want to apply to the entire document. */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

/************************************************************************************************/

/* Header Section */

.header {
  width: 100vw;
  height: 75px;
  background-color: #519872;
}

#headerBody {
  position: absolute;
  top: 23px;
  left: 300px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

#logoText {
  margin-left: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
}

/*^Header Section^*/

/* Main Body */
.body {
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.App {
  background-color: #AFD4C0;
  width: auto;
  height: 4000px;
  background-size: cover;
  
}

/* Dashboard */

.dashboard {
  background-color: #E5F4EC;
  Width: 50vw;
  height: 100vh;
  padding: 10px;
}

#dashboardTitle{
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
}

#newPropertyButton{
  background-color: #8AEA92;
  border: none;
  font-size: 20px;
  font-weight: 700;
  padding: 15px;
  cursor: pointer;

}

.dashHeader {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
  align-content: stretch;
  width: 95%;
  border-bottom: 1px solid black;
  padding: 10px;
}
/*^Dashboard^*/

/* Wizard */
 .wizardBody {
   background-color: #E5F4EC;
   width: 50vw;
   height: 100vh;
   padding: 10px;
 }

 .wizardHeader {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
  align-content: stretch;
 }

/*^Wizard^*/

/* House */
.homeBox {
  width: 100%;
  height: 150px;
  background-color: #dedede;
  margin-bottom: 20px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.homeImage {
  background-size: 200, 150px;
  width: 30%;
  height: 150px;
}

.homeAddress {
  margin-left: 20px;
  width: 30%;
  height: 150px;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
  align-content: stretch;
  line-height: 30px;
}

#homeRent {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
  align-content: stretch;
  line-height: 30px;
  width: 30%;
  height: 150px;
}

#deleteButton {
  width: 10%;
  height: 150px;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-end;
	align-content: stretch;
}

.deleteIcon{
  height: 50px;
  width: 50px;
}
/*^House^*/


/*^Main Body^*/
